
.overlay button{
    opacity: 0;
    transition: 0.3s;
    background-color: transparent;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    position: absolute;
    bottom:30px;
}
.overlay{
    position: relative;
    display: flex;
    justify-content: center;
}
.card:hover button{
    opacity: 1;
}
.card img {
    transition: filter 0.3s ease; /* Transition for image filter property */
}
.card:hover img{
    filter:brightness(50%);
}
.car-contents .price{
    font-weight: 700;
    font-size: 15px;
}
.car-contents h1{
    font-size: 17px;
    color: rgb(66, 66, 66);
    font-family: sans-serif;
    font-weight: 550;
    letter-spacing: 0;
    margin-bottom: 5px;
}
.car-contents{
    font-family: sans-serif;
    font-size: 13px;
}
 nav h6{
    color: black;
    font-weight: 800;
    font-size: 16px;
 }
 .socialmedia a{
    transition: all 0.4s;
 }

 .socialmedia a:hover{
    transform: translateY(-2px)
 }