*{
    font-family: "Space Grotesk", sans-serif;
}

.overlay button{
    opacity: 0;
    transition: 0.3s;
    background-color: transparent;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    position: absolute;
    bottom:30px;
}
.overlay{
    position: relative;
    display: flex;
    justify-content: center;
}
.card:hover button{
    opacity: 1;
}
.card img {
    transition: filter 0.3s ease; /* Transition for image filter property */
}
.card:hover img{
    filter:brightness(50%);
}
.car-contents .price{
    font-weight: 700;
    font-size: 15px;
}
.car-contents h1{
    font-size: 17px;
    color: rgb(66, 66, 66);
    font-family: sans-serif;
    font-weight: 550;
    letter-spacing: 0;
    margin-bottom: 5px;
}
.car-contents{
    font-family: sans-serif;
    font-size: 13px;
}
 nav h6{
    color: black;
    font-weight: 800;
    font-size: 16px;
 }
 .socialmedia a{
    transition: all 0.4s;
 }

 .socialmedia a:hover{
    transform: translateY(-2px)
 }


 /************** car list media query *****************/
 @media only screen and (max-width: 740px) {

    .find-your-car-section .location-section .location-content-section{
        display: flex;
        flex-direction: column;  
        justify-content: space-between;
        gap: 12px;
        width: 500px;
    }
    .find-your-car-section .location-section .location-content-section div{
        border: none;
        display: flex;
        width: 500px;
        padding: 3px 20px;
    }
    .find-your-car-section{
        margin-bottom:400px;
    }
    .find-your-car-section .divider-find{
        width:55%;
    }
    .cars-slider .car-slider-content .divider-slider{
        width:60%;
    }
    .cars-slider .car-slider-content .divider-slider {
        margin-bottom: 50px;
    }
    .blogs div:first-child p {
        max-width: 450px;
    }
    .cars-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:0px 25px 0 25px;
    }
    .cars-list .cars-list-contents{
        max-width: 500px;
    }
    .cars-list .cars-list-contents .place-of-cars{
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two columns with equal width */
        gap: 10px;
        grid-auto-flow: row;
    }
    .car-card .card-content-list{
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two columns with equal width */
        gap: 0px;
        grid-auto-flow: row;
    }
  }
  
  @media only screen and (max-width: 570px) {
    .cars-list .cars-list-contents{
        width: 450px;
    }
    .car-card .card-content-list{
        display: grid;
        grid-template-columns: 1fr; /* Two columns with equal width */
        gap: 0px;
        grid-auto-flow: row;
    }
    .cars-list .cars-list-contents .place-of-cars{
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two columns with equal width */
        gap: 10px;
        grid-auto-flow: row;
    }
  }

  @media only screen and (max-width: 465px) {
    .cars-list .cars-list-contents{
        width: fit-content;
    }
    .car-card .card-content-list{
        display: grid;
        grid-template-columns: 1fr; /* Two columns with equal width */
        gap: 0px;
        grid-auto-flow: row;
    }
    .cars-list .cars-list-contents .place-of-cars{
        display: grid;
        grid-template-columns: 1fr ; /* Two columns with equal width */
        gap: 10px;
        grid-auto-flow: row;
    }
    .frequently-questions-section{
        display: flex;
        flex-direction: column;
    }
    .frequently-questions-section .frequently-content{
        display: flex;
        flex-direction: column;
        margin: 0 25px 0 25px;
    }
    .frequently-questions-section .frequently-content .frequently-content-card{
        display: flex;
        flex-direction: column;
    }
  }
  @media only screen and (min-width: 740px) {
    .car-card .card-content-list{
            display: flex;
            flex-wrap: wrap;
    }
  }

  @media only screen and (max-width: 1148px) {
    #footer1{
        padding: 20px;
        margin: 0;
    }
    footer .footer{
        grid-column-gap: 80px;
    }
  }
  @media only screen and (max-width: 514px) {

    .frequently-questions-section .frequently-content{
        margin: 0;
    }
  .frequently-content-card .card-question{
    width: 100%;
  }
}
  @media only screen and (max-width: 455px) {

    .frequently-questions-section .frequently-content{
        margin: 0;
    }
    .frequently-content-card .card-question{
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }

#nextbtn{
    background-color: black;
    color: white;
    padding: 2px 20px 2px 20px;
    border-radius: 3px;
    border: 1px solid;
    transition: all 0.4s;
}
#nextbtn:hover{
    background-color: rgb(61, 61, 61);
    border: black;
    border: 1px solid;
}
.ant-steps .ant-steps-item-process .ant-steps-item-icon{
    background-color: #000000;
    border: none;
}
.ant-steps .ant-steps-item-finish .ant-steps-item-icon{
    background-color: rgb(233, 233, 233);
    border: none;
}
.ant-steps .ant-steps-item-finish .ant-steps-item-icon svg{
    color: black;
}
#prevbtn{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 0px 10px 0px 10px;
    border-radius: 3px;
    border: 1px solid;
    border-color: rgb(212, 212, 212);
    transition: all 0.4s;
    margin-right: 5px;
}
#prevbtn:hover{
    border-color: black;
}
/* header your car car avalibility*/
.ant-steps{
    display: inline-block;
}
.ant-steps .ant-steps-item-title{
    position: static;
}
 /** form your car*/
.ant-form-inline {
    display: flex;
    flex-direction: column;
}
/* next btn*/
#btnnext-form:hover{
    background-color: rgb(32, 32, 32);
    transform:translateX(2%);
    color: white;
}
/** radio */
.ant-radio-wrapper .ant-radio-checked .ant-radio-inner{
    border-color: black;
    background-color: black;
}
.ant-btn.css-dev-only-do-not-override-1qfezbu.ant-btn-primary , .ant-btn.css-dev-only-do-not-override-1qfezbu.ant-btn-default{

}
:where(.css-dev-only-do-not-override-1qfezbu).ant-checkbox .ant-checkbox-inner {
    border-color: #000000;
}
.car-photo svg{
    font-size: 30px;
}